<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152167280912-20m0v9upjqmsb46a9882der9l0of2kcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152167280912-20m0v9upjqmsb46a9882der9l0of2kcg</string>
	<key>API_KEY</key>
	<string>AIzaSyDQL33oMxZVE4lmamk9vcaYpCVMHvrS3pA</string>
	<key>GCM_SENDER_ID</key>
	<string>152167280912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dubchakPracticeProject</string>
	<key>PROJECT_ID</key>
	<string>dubchak-practice-project-4bcdf</string>
	<key>STORAGE_BUCKET</key>
	<string>dubchak-practice-project-4bcdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152167280912:ios:60690fcc8048a1c650b595</string>
</dict>
</plist>